<a href="https://colab.research.google.com/github/bday0624/bday0624.github.io/blob/master/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2장7번
a=['Life', 'is', 'too', 'short']
b = " ".join(a) #띄어쓰기를 하고싶으면 ""안에 공백을 넣으면 됨, 만약 ,으로 구분하고 싶다면 ","이렇게 작성
print (b)

while 문을 사용해 1 부터 1000 까지의 자연수 중 3 의 배수의 합을 구해 보자.

In [ ]:
#3장 2번
i = 1
sum = 0
while i <=1000:
    if i % 3 == 0:
        sum = sum + i
    i = i + 1

print(sum)

for 문을 사용하여 다음과 같이 별 (*) 을 표시하는 프로그램을 작성해 보자.
1 *
2 **
3 ***
4 ****
5 *****

In [ ]:
n = 5

for i in range(1, n+1):
    print("*"*i)

2장 1번. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
과목 점수
국어 80
영어 75
수학 55